/** Styles for the theme: Base-Dark */
.TcHmi_Controls_Beckhoff_TcHmiDatePicker-template-overlay {
    --tchmi-overlay-background: var(--tchmi-background-color-1);
    --tchmi-background: var(--tchmi-background-color-1);
    --tchmi-color: var(--tchmi-foreground-color-1);
    --tchmi-label-color: var(--tchmi-foreground-color-1);
    --tchmi-header-background: var(--tchmi-highlight-color-1);
    --tchmi-header-color: var(--tchmi-foreground-color-1);
    --tchmi-weekdays-background: var(--tchmi-background-color-4);
    --tchmi-weekdays-color: var(--tchmi-foreground-color-1);
    --tchmi-weekend-background: var(--tchmi-background-color-4);
    --tchmi-days-background: var(--tchmi-background-color-3);
    --tchmi-days-color: var(--tchmi-foreground-color-1);
    --tchmi-days-background-active: var(--tchmi-highlight-color-1);
    --tchmi-days-color-active: var(--tchmi-foreground-color-1);
    --tchmi-color-disabled: var(--tchmi-foreground-color-4);
    background: var(--tchmi-background-color-1);
}

.tchmi-system-topmostlayer-container .TcHmi_Controls_Beckhoff_TcHmiDatePicker-template-overlay {
    box-shadow: var(--tchmi-popup-shadow);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-template-value {
    color: var(--tchmi-label-color);
}

/* calendar style */
.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template-header {
    background: var(--tchmi-header-background);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template-header ul li {
    color: var(--tchmi-header-color);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template-weekdays {
    background-color: var(--tchmi-weekdays-background);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template-weekdays li {
    color: var(--tchmi-weekdays-color);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template-weekend-day-element {
    background-color: var(--tchmi-weekend-background);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template-days {
    background: var(--tchmi-days-background);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template-days li {
    color: var(--tchmi-days-color);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template-days .active {
    background: var(--tchmi-days-background-active);
    color: var(--tchmi-days-color-active);
}

/** Direct Display styles */
.TcHmi_Controls_Beckhoff_TcHmiDatePicker-direct-display.TcHmi_Controls_Beckhoff_TcHmiDatePicker {
    background: var(--tchmi-background);
    box-shadow: var(--tchmi-card-shadow);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-invalid-notification {
    background-image: url('Images/invalid-notification.svg');
    background-size: 200% 200%;
    background-color: var(--tchmi-error-color);
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template .tchmi-disabled {
    color: var(--tchmi-color-disabled);
}

.TcHmi_Controls_Beckhoff_TcHmiDatePicker-calendar-template-calendar {
    box-shadow: var(--tchmi-card-shadow);
}
