/** Styles for all themes */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl {
    /* Prevent overflow if the border radius is huge */
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-none {
    grid-template-areas:
        'menu'
        'charts'
        'legend';
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
}
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-left {
    grid-template-areas:
        'menu menu'
        'trigger charts'
        'trigger legend';
    grid-template-columns: 30% auto;
    grid-template-rows: min-content auto min-content;
}
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-right {
    grid-template-areas:
        'menu menu'
        'charts trigger'
        'legend trigger';
    grid-template-columns: auto 30%;
    grid-template-rows: min-content auto min-content;
}
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-top {
    grid-template-areas:
        'trigger'
        'menu'
        'charts'
        'legend';
    grid-template-columns: auto;
    grid-template-rows: 20% min-content auto min-content;
}
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-bottom {
    grid-template-areas:
        'menu'
        'charts'
        'legend'
        'trigger';
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content 20%;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-chartings {
    position: relative;
    top: 0px;
    /*margin: 5px;*/
    /*height: 100%;*/
    overflow: hidden;
    grid-area: charts;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-border {
    position: absolute;
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-chart {
    /*width: 100%;
    height: 100%;*/
    position: absolute;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-overview {
    width: 100%;
    height: 100%;
    position: absolute;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-chart-name {
    position: absolute;
    display: none;
    text-align: center;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-legend {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    /*margin: 5px;
    margin-top: 0px;*/
    grid-area: legend;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-legend-bottom {
    bottom: 0px;
    left: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-legend-parent-element {
    position: relative;
    float: left;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-legend-checkbox {
    position: relative;
    vertical-align: middle;
    float: left;
    margin: 3px;
    width: 13px;
    height: 13px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-legend-checkbox-color-element {
    position: relative;
    float: left;
    height: 2px;
    width: 10px;
    top: 8.5px;
    margin-right: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-legend-checkbox-label {
    position: relative;
    float: left;
    padding-right: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    /*margin: 5px;*/
    /*height: 80px;*/
    /*margin-bottom: 0px;*/
    grid-area: menu;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-time-bar,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-bar-dropdown {
    position: relative;
    width: 100%;
    float: left;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-time-bar > div:first-child,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-bar-dropdown > div:first-child {
    margin-left: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-tool-bar,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tool-bar-dropdown {
    position: relative;
    width: 100%;
    height: 40px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-tool-bar > div:first-child,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tool-bar-dropdown > div:first-child {
    margin-left: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-top {
    top: 0px;
    left: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-bottom {
    bottom: 0px;
    left: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-toggle-button {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-button {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-textbox {
    height: 30px;
    width: 100px;
    min-width: 100px;
    min-height: 30px;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiButton.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-options {
    top: 0px;
    height: 100%;
    width: 15px;
    min-width: 15px;
    min-height: 40px;
    position: absolute;
    float: right;
    box-sizing: border-box;
    margin: 0px;
    right: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-textblock {
    position: relative;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-time-bar
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-splitter,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-bar-dropdown
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-splitter {
    position: relative;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 2px;
    min-height: 12px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-tool-bar
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-splitter,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tool-bar-dropdown
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-splitter {
    position: relative;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    min-height: 30px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-window {
    position: relative;
    grid-area: trigger;
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-window-left {
    left: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-window-right {
    right: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-window-top {
    top: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-trigger-window-bottom {
    bottom: 0px;
}

/*.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-splitter + .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-textbox, .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-splitter + .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-button, .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-splitter + .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-menu-bar-toggle-button {
    margin-left: 10px;
}*/
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-loading,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-loading-spinner-container,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-time-range-dialog-loading {
    position: absolute;
    width: 70px;
    height: 70px;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    pointer-events: none;
}

/** Tooltip */
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tooltip {
    position: absolute;
    visibility: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tooltip
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tooltip-text {
    position: relative;
    white-space: pre-wrap;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tooltip-arrow {
    content: '';
    position: absolute;
    width: 8px; /** used in internal calculation */
    height: 8px; /** used in internal calculation */
    transform: rotate(45deg);
    /*border-width: 6px; 
    border-style: solid;*/
    pointer-events: none;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tooltip-arrow-bottom {
    top: calc(100% - 5px);
    left: calc(50% - 5px);
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tooltip-arrow-top {
    bottom: calc(100% - 5px);
    left: calc(50% - 5px);
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tooltip-arrow-left {
    top: calc(50% - 5px);
    right: calc(100% - 5px);
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-tooltip-arrow-right {
    top: calc(50% - 5px);
    left: calc(100% - 5px);
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-control-for-record {
    display: none;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-time-range-dialog-list
    li.active
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-control-for-record {
    display: block;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-footer {
    position: relative;
    margin: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-footer > * {
    margin-left: 5px;
    position: relative;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-footer-left {
    text-align: right;
    width: calc(100% - 180px);
    height: 10px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-footer-right {
    display: inline-block;
    vertical-align: bottom;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-progress-bar-background {
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-progress-bar {
    width: 0%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-action-button {
    margin-left: 5px;
    margin-bottom: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-footer
    .TcHmi_Controls_System_TcHmiControl {
    position: relative;
    margin-left: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-contents {
    height: 330px;
    padding: 12px 20px 10px 20px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content tr {
    line-height: 30px;
    vertical-align: top;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content td:first-child {
    min-width: 70px;
}

tchmi-tab-content[name='upload'] {
    > * {
        position: relative;
        height: 30px;
        float: left;
        line-height: 30px;
        margin-top: 10px;
    }

    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-file-button {
        width: 100%;
        height: 30px;
        clear: both;
    }

    .no_file {
        margin-left: 5px;
        margin-top: 0px;
    }

    h1,
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-chunksize-span {
        margin-top: 20px;
    }

    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-persist-span {
        margin-left: 10px;
    }

    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-chunksize-span,
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-persist-checkbox {
        clear: both;
    }

    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-advanced-accordion {
        width: 100%;
        height: 30px;
    }

    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-advanced-accordion-header {
        font-weight: normal;
        height: 30px;
        margin-top: 10px;
        font-size: 12px;
    }

    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-advanced-accordion-content {
        padding: 10px;
    }

    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-chunksize-textbox {
        clear: both;
        width: calc(100% - 20px);
        margin-top: 0px;
        position: relative;
    }
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-reset-button {
    clear: both;
    float: left;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-cancel-button {
    float: left;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .currentRecord {
    padding-top: 10px;
    line-height: 30px;
    vertical-align: top;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .currentRecord > * {
    position: relative;
    float: left;
    margin-right: 10px;
}

tchmi-tab-content[name='currentRecord'] span {
    white-space: normal;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .datagrid {
    padding: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .selected {
    margin-bottom: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .datagrid,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .selected {
    position: relative;
    flex-grow: 1;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content
    .datagrid
    .TcHmi_Controls_Beckhoff_TcHmiDatagrid,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .datagrid .tchmi-datagrid,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .selected .TcHmi_Controls_Beckhoff_TcHmiButton,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .selected .tchmi-button {
    position: relative;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content .selected .tchmi-button,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content
    .selected
    .TcHmi_Controls_Beckhoff_TcHmiButton {
    float: left;
    margin-right: 5px;
}
tchmi-tab-content[name='record'] > div:first-child {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-tab-content {
    position: relative;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-charts > * {
    position: relative;
    margin: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-charts
    .TcHmi_Controls_Beckhoff_TcHmiButton,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog-charts .tchmi-button {
    float: right;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog {
    padding: 20px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog-container {
    position: relative;
    width: 400px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-time-range-dialog-scroll-container {
    overflow: auto;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog
    .TcHmi_Controls_Beckhoff_TcHmiButton,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog .tchmi-button {
    position: relative;
    margin: 5px;
    float: right;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-control-for-record .TcHmi_Controls_Beckhoff_TcHmiControl,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-control-for-record .tchmi-control {
    position: relative;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog-container li {
    list-style: none;
    padding: 5px 5px 5px 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog-container li:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    transition: transform 0.2s ease-in;
    margin-right: 10px;
    transform: rotate(-45deg);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog-container li.active:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    transition: transform 0.2s ease-in;
    margin-right: 10px;
    transform: rotate(45deg);
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog-container
    li.active
    .TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-control-for-record {
    margin: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-time-range-dialog-container table td {
    border-spacing: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-template {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-value {
    width: calc(100% - 40px);
    height: 100%;
    left: 20px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-template > * {
    position: relative;
    float: left;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-time-range-dialog-list {
    padding-left: 5px;
    margin: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-knob-min-value,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-knob-max-value {
    position: absolute;
    top: -5px;
    height: 40px;
    width: 20px;
    cursor: ew-resize;
    border-radius: 5px;
}
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-knob-min-value {
    left: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-knob-max-value {
    left: 324px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-knob-max-value .first-slider-element,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-knob-min-value .first-slider-element {
    width: 2px;
    height: 20px;
    left: 6px;
    position: relative;
    top: 10px;
    float: left;
    pointer-events: none;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-knob-max-value .second-slider-element,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-knob-min-value .second-slider-element {
    width: 2px;
    height: 20px;
    left: 10px;
    position: relative;
    top: 10px;
    float: left;
    pointer-events: none;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-slider-value-text {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-time-range-dialog-no-data-text {
    position: absolute;
    width: 150px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 75px);
    text-align: center;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-time-range-dialog-loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog
    tr.disabled-attach
    td[data-column-name='attach']::after,
.TcHmi_Controls_Beckhoff_TcHmiScopeControl_TcHmiScopeControl-template-dialog
    tr.disabled-download
    td[data-column-name='download']::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*background-color: rgba(255, 255, 255, 0.5); color is defined in theme css*/
    z-index: 100;
}
