.beckhoff-ec-diagnostics {
    & beckhoff-ec-diagnostics-optional-bool-input {
        background: var(--tchmi-background-color-4);
        border: 1px var(--main-border-color) solid;

        &.false {
            background: black;
            color: white;
            border: none;
        }

        &.true {
            background: blue;
            color: white;
            border: none;
        }
    }
}
